# .NET derleme çıktıları
bin/
obj/

# Python
.venv/
__pycache__/

# Veri dosyaları (çok büyük, GitHub kabul etmez)
data/

# Şifre içeren dosyalar
.env
FilmSearchApi/appsettings.Development.json

# IDE ayarları
.idea/
.vs/
.vscode/

# macOS
.DS_Storeproje
kaynak.md
